<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Create New Singer</title>
  </head>
  <body>
    <div align="center">
      <h1>Add New Singer</h1>
      <br />
      <form
        action="#"
        th:action="@{/save-singer}"
        th:object="${singer}"
        method="post"
      >
        <table border="0" cellpadding="10">
          <tr>
            <td>Singer's Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
          </tr>
          <tr>
            <td>Date of Birth:</td>
            <td><input type="date" th:field="*{date}" maxlength="8" /></td>
          </tr>
          <tr>
            <td>Sex:</td>
            <td><input type="text" th:field="*{sex}" /></td>
          </tr>
          <tr>
            <td>Company:</td>
            <td><input type="text" th:field="*{company}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Save</button></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
