<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head lang="en">

    <title> Music Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />

</head>

<body>
    <h1 class = "textStyle">Music Catalogue Manager</h1>
    <h3 class = "textStyle">Add new Singer or Album record</h3>
        
</body>

<form class = "form">
    <label for="search">Insert</label><br>
    <input type="text" id="search" name="search"><br><br>
    <button class = "button" type="button">Search</button>
</form>
<br><br>
<form th:action="@{/}" method="post">
    <input type="submit" value="Return to Home"/>
</form>
</html>