<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
    <title>Singer Manager</title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="singer-list">Singers</a></li>
        <li><a href="album-list">Albums</a></li>
        <li><a href="user-list">Users</a></li>
    </ul>
    <div align="center">
        <h1>Singer List</h1>
        <a href="/new">Create New Singer</a>
        <br /><br />
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Singer ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Sex</th>
                    <th>Company</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="singer : ${singersList}">
                    <td th:text="${singer.id}" Album ID</td>
                    <td th:text="${singer.name}">Name</td>
                    <td th:text="${singer.dob}">Date of Birth</td>
                    <td th:text="${singer.sex}">Sex</td>
                    <td th:text="${singer.company}">Company</td>
                    <td>
                        <a>Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a>Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>