<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Album Manager</title>
    <link
      href="../static/styles.css"
      th:href="@{/styles.css}"
      rel="stylesheet"
    />
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/singer-list">Singers</a></li>
      <li><a href="/album-list">Albums</a></li>
      <li><a href="/user-list">Users</a></li>
    </ul>
    <div align="center">
      <h1>Album List</h1>
      <a th:href="@{'/album-list/new-album'}">Create New Album</a>
      <br /><br />
      <form th:action="@{/album-list/page/1}">
        <input type="hidden" name="sortField" th:value="${sortField}" />
        <input type="hidden" name="sortDir" th:value="${sortDir}" />

        Filter:
        <input
          type="text"
          name="search"
          id="search"
          size="50"
          th:value="${search}"
          required
        />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input
          type="button"
          value="Clear"
          id="btnClear"
          onclick="clearSearch()"
        />
      </form>
      <script type="text/javascript">
        function clearSearch() {
          window.location = "[[@{/album-list}]]";
        }
      </script>
      <br /><br />
      <table border="1" cellpadding="10">
        <thead>
          <tr>
            <th>
              <a
                class="tableLink"
                th:href="@{'/album-list/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir} + ${search != null ? '&search=' + search : ''}}"
                >Title</a
              >
            </th>
            <th>
              <a
                class="tableLink"
                th:href="@{'/album-list/page/' + ${currentPage} + '?sortField=singer&sortDir=' + ${reverseSortDir} + ${search != null ? '&search=' + search : ''}}"
                >Singer</a
              >
            </th>
            <th>
              <a
                class="tableLink"
                th:href="@{'/album-list/page/' + ${currentPage} + '?sortField=year&sortDir=' + ${reverseSortDir} + ${search != null ? '&search=' + search : ''}}"
                >Year</a
              >
            </th>
            <th>
              <a
                class="tableLink"
                th:href="@{'/album-list/page/' + ${currentPage} + '?sortField=company&sortDir=' + ${reverseSortDir} + ${search != null ? '&search=' + search : ''}}"
                >Company</a
              >
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="album : ${albumsList}">
            <td th:text="${album.name}">Title</td>
            <td th:text="${album.singer}">Singer</td>
            <td th:text="${album.year}">Year</td>
            <td th:text="${album.company}">Company</td>
            <td>
              <!-- Edit Button-->
              <a th:href="@{'/album-list/edit-album/' + ${album.id}}">Edit</a>
              &nbsp;&nbsp;&nbsp;
              <!-- Delete Button-->
              <a th:href="@{'/album-list/delete/' + ${album.id}}">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
    </div>
    <!-- Page navigation-->
    <div class ="centreDiv">
      Total Items: [[${totalItems}]] <br />
      <a
        th:if="${currentPage > 1}"
        th:href="@{'/album-list/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${search != null ? '&search=' + search : ''}}"
        >First</a
      >
      <span th:unless="${currentPage > 1}">First</span>
      <a
        th:if="${currentPage > 1}"
        th:href="@{'/album-list/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${search != null ? '&search=' + search : ''}}"
        >Previous</a
      >
      <span th:unless="${currentPage > 1}">Previous</span>
      <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a
          th:if="${currentPage != i}"
          th:href="@{'/album-list/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${search != null ? '&search=' + search : ''}}"
          >[[${i}]]</a
        >
        <span th:unless="${currentPage != i}">[[${i}]]</span>
        &nbsp;
      </span>
      <a
        th:if="${currentPage < totalPages}"
        th:href="@{'/album-list/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${search != null ? '&search=' + search : ''}}"
        >Next</a
      >
      <span th:unless="${currentPage < totalPages}">Next</span>
      <a
        th:if="${currentPage < totalPages}"
        th:href="@{'/album-list/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${search != null ? '&search=' + search : ''}}"
        >Last</a
      >
      <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
  </body>
</html>
